html, body {
  height: 100%;
}

#name {
  margin-top: 0px;
  margin-bottom: 0px;
}

#job {
  size: 15em;
  color:grey;
  margin-bottom: 0px;
}

#title {
  display:inline-block;
  margin-left: 10px;
  position:relative;
  top: -25px;
}

#everything {
  min-height:100%;
  position:relative;
}

#beach-container {
   position:absolute;
   bottom:0;
   width:100%;
   height:200px;   /* Height of the footer */
}

#initials {
  display:inline-block;
  width: 100px;
  height: 100px;
}

#photo {
  background-image: url('/images/me.JPG');
  height:300px;
  width: 300px;
  margin-top: 15%;
  #box-shadow: 0 0 4px 4px white inset;
  background-size: cover;
}

.projectpic {
  width: 200px;
}
